

#principal ul a {
    color: #666666;
    display: flex;
    align-items: center;
    height: 80px;
}

.header h1 {
    margin: 0; 
    font-size: 24px; 
    text-align: center; 
}

/* Alinea el encabezado y el navbar en la misma línea */
.header-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0; /* Eliminar margen inferior */
    margin-top:0;
}

.navbar {
    padding-top: 10px; 
    margin-bottom: 10px; 
}

@media screen and (orientation: landscape) {
    .carousel img {
      height: 100vh;
    }
}

.history {
    display: flex;
    justify-content: center; 
    margin-bottom: 100px; 
    margin-top: 50px;
}

.historia {
    max-width: 700px; 
    font-family: 'Playfair Display', serif;
    text-align: justify;
}

.historia h2 {
    color: #333; 
    text-align: center;
}

.wine-types .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.wine-types h2 {
    color: #333; 
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.wine-types p {
    max-width: 700px; 
    font-family: 'Playfair Display', serif;
    text-align: justify;
}

#contact {
    display: flex;
    flex-direction: row;
}


#map,#form {
    flex: 1;
    margin-right: 20px;
}

.events {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre eventos */
}

.event {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-img img,
.event-text {
    flex: 1;
}

.event-img img {
    max-width: 100%;
    height: auto;
    margin-right: 20px; /* Espacio entre imagen y texto */
}

.event-text h3 {
    margin-top: 0; /* Elimina el espacio superior del título */
}

#redes_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
