

.navbar-brand img {
    width: 80px;
  }
  .navbar-nav {
    align-items: center;
  }
  .navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    padding: 0.5em 1em;
  }
  @media screen and (min-width: 768px) {
    .navbar-brand img {
      width: 100px;
    }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
  }
  
@media screen and (orientation: landscape) {
    .carousel img {
      height: 100vh;
    }
}

.history {
    display: flex;
    justify-content: center; 
    margin-bottom: 100px; 
    margin-top: 50px;
}

.historia {
    max-width: 700px; 
    font-family: 'Playfair Display', serif;
    text-align: justify;
}

.historia h2 {
    color: #333; 
    text-align: center;
}

.wine-types .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.wine-types h2 {
    color: #333; 
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.wine-types p {
    max-width: 700px; 
    font-family: 'Playfair Display', serif;
    text-align: justify;
}

#contact {
    display: flex;
    flex-direction: row;
}


#map,#form {
    flex: 1;
    margin-right: 20px;
}

/* Estilos personalizados para la sección de eventos */
.events-section {
    background-color: #f8f9fa;
    padding: 60px 0;
    border-top: 1px solid #e9ecef;
}

.events-section h2 {
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.events-section p {
    font-size: 1.5rem;
    color: #555;
}

#redes_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
