
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header {
    text-align: center;
    z-index: 100;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.header h1 {
    margin: 0; 
    font-size: 24px; 
    text-align: center; 
}
.logo {
    width: 200px; 
    height: auto; 
    margin-left: 10px;
    margin-top: 0px; 
    margin-bottom: 0px; 
}

/* Alinea el encabezado y el navbar en la misma línea */
.header-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0; /* Eliminar margen inferior */
    margin-top:0;
}
.navbar {
    padding-top: 10px; 
    margin-bottom: 10px; 
}
@media screen and (orientation: landscape) {
    .carousel img {
      height: 100vh;
    }
}
.history {
    display: flex;
    justify-content: center; 
    margin-bottom: 100px; 
    margin-top: 50px;
}
.historia {
    max-width: 700px; 
    font-family: 'Playfair Display', serif;
}

.historia h2 {
    color: #333; 
    text-align: center;
}
.events {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre eventos */
}

.event {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-img img,
.event-text {
    flex: 1;
}

.event-img img {
    max-width: 100%;
    height: auto;
    margin-right: 20px; /* Espacio entre imagen y texto */
}

.event-text h3 {
    margin-top: 0; /* Elimina el espacio superior del título */
}
.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product-title {
    font-size: 20px;
    margin: 0;
  }
  
  .product-description {
    margin: 10px 0;
  }
  
  .product-price {
    font-weight: bold;
    margin: 0;
  }